.save {
  cursor: pointer;
  padding: 6px;
  border-radius: 25px;
  width: 55px;
}

p {
  color: blueviolet;
  font-size: x-large;
  font-weight: 700;
}

button {
  background-color: white;
  color: blueviolet;
}

button:hover {
  color: whitesmoke !important;
  background-color: blueviolet !important;
}

button span p {
  font-size: 1.1rem;
}

/*Media queries*/

@media (max-width: 480px) {

p  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}