.title {
  text-align: center;
  margin-top: 7rem;
}

.divCotizador {
  margin: auto;
  max-width: 900px;
  background-color: white;
  padding: 10px;
  border-color: whitesmoke;
  box-shadow: 26px 28px 15px -8px rgba(0, 0, 0, 0.15);
  border-radius: 0.7rem;
}

button:hover {
  color: whitesmoke !important;
  background-color: blueviolet !important;
}

button:active {
  background-color: black !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
